<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Todos</title>
  
  <!-- <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet"> -->
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'todoapp/css/style.css' %}" />

</head>

<body>
  <h1>TodoApp</h1>
  {% verbatim %}
  <div id="app">
    <ul>
      <li v-for="todo in todos">{{ todo.title }}</li>
    </ul>
  </div>
  {% endverbatim %}

  <!-- production version, optimized for size and speed -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.0/vue.js"></script>
  <!-- axios cdn -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- <script src="../static/todoapp/js/main.js"></script> -->
  {% load staticfiles %}
  <script src="{% static 'todoapp/js/main.js' %}"></script>
</body>

</html>